@model IEnumerable<Library.Models.CurrentHelperModels.CurrentBorrowsLibrarian>
@using Library.Service;
@using Microsoft.AspNetCore.Identity;

@{
    ViewBag.Title = "Index";
}

<h2>Here is the list librarian of current borrows</h2>

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Current Borrows - Books that are reserved</div>
    <div class="panel-body">
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    @if (User.IsInRole("Librarian"))
                    {
                        <th>Book</th>
                        <th>User</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Confirmed By</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Book)</td>
                        <td>@Html.DisplayFor(modelItem => item.User)</td>
                        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ConfirmedBy)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>



}